::placeholder {
  opacity: 1 !important; /* Firefox */
  font-weight: bold !important;
  font-size: 0.9rem !important;
  line-height: 2rem !important;
  color: #bfbfbf !important;
}

input{
  color: #BFBFBF;
}

a{
  text-decoration: none !important;
}

.MuiPaper-elevation.MuiPaper-elevation8.MuiPaper-root.MuiPaper-rounded.MuiPopover-paper.css-3bmhjh-MuiPaper-root-MuiPopover-paper{
  left: 1310px !important;
}

/*++++++++++++++++++++++++++++ Settlement Styling ++++++++++++++++++++++++++ */



/*++++++++++++++++++++++++ Settlement Styling End ++++++++++++++++++++++++++ */