:root {
    --background: #005;
    --primary: #88d5bf;
    --secondary: #5d6bf8;
    --third: #e27fcb;
  }
.liquedblock{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 20px;
    height: 19.5rem;
    width: 5.3rem;
    background: #E8F3F9;
    border-radius: 23px;
    padding: 0%;
    position: relative;
   
}


.waveLiqued{
    position: absolute;
    /* background: rgb(116, 32, 169); */
    bottom: 0;
    width: 100%;
    margin: 0%;
    border-radius: 0px 0px 23px 23px;
}



.shape {
 background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
 animation: morph 8s ease-in-out infinite;
 border-radius: 60% 40% 23px 23px / 60% 30% 23px 23px;
 transition: all 1ms ease-in-out;
 width: 100%;
 height: 100%;
 z-index: 5;
}

@keyframes morph {
 0% {
           border-radius:  30% 20% 23px 23px / 60% 30% 23px 23px;
           background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
   } 
 10% {
           border-radius:  20% 20% 23px 23px / 60% 30% 23px 23px;
           background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
   } 
 20% {
           border-radius:  80% 80% 23px 23px / 60% 30% 23px 23px;
           background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
   } 
 30% {
           border-radius:  30% 80% 23px 23px / 60% 30% 23px 23px;
           background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
   } 
 40% {
           border-radius:  20% 10% 23px 23px / 60% 30% 23px 23px;
           background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
   } 
 50% {
           border-radius:  60% 70% 23px 23px / 60% 30% 23px 23px;
           background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
   } 
 60% {
           border-radius:  90% 50% 23px 23px / 60% 30% 23px 23px;
           background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
   } 
 70% {
           border-radius:  50% 20% 23px 23px / 60% 30% 23px 23px;
           background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
   } 
 80% {
           border-radius:  30% 80% 23px 23px / 60% 30% 23px 23px;
           background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
   } 
 90% {
           border-radius:  80% 20% 23px 23px / 60% 30% 23px 23px;
           background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
   } 
 100% {
           border-radius:  60% 40% 23px 23px / 60% 30% 23px 23px;
           background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
   } 
   
  
}