.atmcard {
  width: 24rem;
  height: 24rem;
  /* background-image: url("../../../../public/imges/atm1.svg"); */
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100%;
  border: none;
  color: #fff;
  position: relative;
 
  
}


.main{
    position: relative;
}

.changeatm{
    width: 3rem;
    position: absolute;
    bottom:4.9rem;
    left: 11rem;
}
.shadowimg{
    position: absolute;
    bottom:4.6rem;
    left: 1.5rem;
    width: 27vw;
}

.holdername{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: rgba(255, 255, 255, 0.5);
}