.mainblock{
     background: #FFFFFF;
    -webkit-box-shadow: rgb(0 0 0 / 12%) 0px 1px 4px 1px;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 4px 1px;
    border: 1px solid #ced4da;
    border-radius: 20px;
    padding: 20px;
   
}

.heading{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
}
.btn1{
    border: none;
    padding: 10px 20px;
    background: #fff;
    
}

.active{
    background: #1EAAE7;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 20px;
    
}


